Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  readability-redundant-*
WarningsAsErrors: ''
HeaderFilterRegex: '^.*/holder-daemon/(src|tests)/.*'
SystemHeaders: false
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '3'
