[submodule "submodules/caste"]
	path = submodules/caste
	url = https://github.com/zeth/caste
[submodule "submodules/holder-core"]
	path = submodules/holder-core
	url = https://github.com/HolderTeam/holder-core
